/*
Auteur: don, Arda, Tygo
    Aanmaakdatum: 05-04-2022

instructie pagina
*/
body
{
    background-color: #66b6df;
    margin: 0;
    color: white;
}
/*het positioneren van de navigatie balk*/
header
{
    position: fixed;
    padding: 5px;           /*opvulling toevoegen*/
    font-size: 30px;
    float: left;                            /*navigatie balk pagina text positioneren naast elkaar*/
    right: 0;
    top: 0;
    left: 0;
    background-color: #0085ca!important;                    /*het toevoegen van een belangrijke kleur*/
}
a
{
    color: white;
}
li
{
    float: left;
    list-style: none;
    font-style: normal;
    margin-top: 10px;
}
li > a
{
    text-decoration: none;
    padding: 10px;                      /*opvulling toevoegen*/
}
.nav:hover
{
    color: #0085ca!important;                   /*het toevoegen van een belangrijke kleur*/
    background-color: white;
    padding-top: 48px;
    padding-bottom: 48px;
}
#logo_KW1C
{
    float: left;
    width: 80px;
    top: 0;
    margin-top: -15px;
    margin-bottom: 20px;
}
#home_img
{
    width: 100%;
    float: left;
}
#H1_homepage
{
     font-size: 48px;
     margin-left: auto;
     margin-right: auto;
     width: 9em
}
h2
{
    font-size: 35px;
    margin: 0;
    margin-bottom: 10px;
}
.homepage_block1
{
    float: left;
    background-color: #0085ca;
    display: inline-block;                  /* Vaste breedte veranderd naar 16% */
    width: 60%;                          /* Marge van 2% (telt dubbel, links en rechts) */
    margin: 1%;
    padding: 5px;
    box-sizing: border-box
}
.homepage_block2
{
    font-size: 20px;
    float: right;
    background-color: #0085ca;
    display: inline-block;
    width: 35%;                          /* Vaste breedte veranderd naar 30% */
    margin: 1%;                         /* Marge van 1% (telt dubbel, links en rechts) */
    padding: 5px;
}
#PDF_brochure
{
    background-color: red;
    padding: 5px;
    margin: 10px;
}
#block_red
{
    background-color: #ff0000;
}
iframe
{
    margin: 10px;
}
.vraag_Vl
{
    background-color: #0085ca;
    padding: 20px;
    text-align: center;
}
#submit_block
{
    padding: 10px;
    background-color: red;
    margin-left: calc(50% - 12px);
    margin-bottom: 20px;
    border-color: #0085ca;
    color: #0085ca;
}
input
{
    text-align: center;
}